.time {
    color: #ffffff;
}

.flexelement {
    display: flex;
}

.row {
    flex-direction: row;
}

.musicList {
    width: auto;
}

.scroll {
    overflow: auto;
    max-height: 70vh;
    scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.borderList {

    padding: 8px;
    border: 2px solid cornflowerblue;
    background-color: var(--main-bg-color);
}

.btn {
    outline: none;
    align-self: center;
    background-color: var(--main-bg-color);
    border: 0px solid cornflowerblue;
    color: var(--main-text-color);
}

.divcenter {
    align-self: center;
}

.btn-menu {
    outline: none;
    font-size: 20px;
}

.musicName {
    outline: none;
    font-size: 18px;
}

.time {
    outline: none;
    opacity: 0.9;
    font-size: 15px;
    color: var(--main-text-color);
}

.name {
    outline: none;
    font-size: 13px;
}

.l {
    outline: none;
    margin-left: auto;
}

.mal {
    outline: none;
    margin-left: 10px;
}

.stophover:hover :first-child {
    background-color: aqua;
}

.stophover:hover :last-child {
    background-color: aqua;
}

.divstop1 {
    outline: none;
    height: 12px;
    width: 11px;
    background-color: var(--main-text-color);
    border-radius: 2px;
}

.divstop2 {
    outline: none;
    height: 12px;
    width: 10px;
}

.divm {
    outline: none;
    display: flex;
    flex-direction: row;
    width: 13.5px;
}

.btndown {
    background-color: var(--main-table-color);
}

.btnup {
    background-color: var(--main-bg-color);
}

.borderRadius {
    width: 700px;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    border-radius: var(--main-border-radius);
}

.borderRadius > :first-child {
    border-top-right-radius: var(--main-border-radius);
    border-top-left-radius: var(--main-border-radius);
}

.borderRadius > :last-child {
    border-bottom-right-radius: var(--main-border-radius);
    border-bottom-left-radius: var(--main-border-radius);
}

.deletefont {
    margin-left: 6px;
    margin-top: 2px;
    margin-right: 6px;
    font-size: 15px !important;
}

.number {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
}

.minHeigth {
    min-height: 250px;
}
.ml-10{
    margin-left: 10px;
}




