.header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 60px;
}
.line{
    background-color: var(--main-text-color);
    height: 1px;
    width: 100%;
    opacity: 0.5;
}
.headercircle{
    opacity: 0.9;
    border-radius: 100px;
    height: 10px;
    width: 10px;
}
.circle1{
    margin-left: 30px;
  background-color: orangered;
}
.circle2{
    margin-left: 5px;
    background-color: yellow;
}
.circle3{
    margin-left: 5px;
    background-color: greenyellow;
}
.headerPadandMar{
    padding: 10px;
    margin: 10px;
}
.headerpos{
    justify-content: space-between;
}
.addMusic{
    height: 100%;
    border-left: solid 1px var(--main-text-color);
    border-right: var(--main-text-color) solid 1px;
    font-size: 25px;
    margin-right: 10px;
}
.textstyle{
    margin-right: 6px;
    font-size: 25px !important;
    margin-left: 6px;
    color: var(--main-text-color);
}
.headerPlus{
    margin-top: 5px;
    margin-right: 6px;
    font-size: 25px !important;
    margin-left: 6px;
    color: var(--main-text-color);
}
.addMusic:hover{
    background-color: rgb(16, 77, 113);
}